body 
{
    background-color: beige;
    font-family: arial;
    color: white;
}

h1
{
    color: azure;
    background-color: black;
    text-emphasis-color: red;
    width: 99%;
    border-radius: 30px;
    text-align: center;
    font-size: 80px;
}

h1:hover
{
    transform: scale(1.1);
    color: antiquewhite;
}

h2
{
    color: azure;
    background-color: aqua;
    width: 99%;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
}

.divmgmt
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-evenly;
}

.titlediv
{
    border: 5px solid;
    border-color: rgb(255, 255, 255);
    text-align: center;
    width: 40%;
    background-color: black;
    font-style: italic;
    padding: 20px;
    border-radius: 50px;   
}

.titlediv:hover
{
    text-decoration: underline;
    transform: scale(1.1);
    transform-style: preserve-3d;
}

img
{
    border: 3px solid;
    width: 50%;
    height: auto;
    border-radius: 40%;
    border-color: rgb(71, 101, 128);
}

.contentdiv
{
    display: flex;
    width: 99.99%;
    background-color: rgb(194, 76, 76);
    font-size: 650%;
}

.menubar
{
    display: flex;
    width: 99.99%; 
    background-color: black;
    color: white;
    border-radius: 0%;
    padding: 2px;
    text-align: end;
    justify-content: space-evenly;
}