body 
{
    background-color: beige;
    font-family: arial;
    color: white;
}

h1
{
    color: azure;
    background-color: black;
    text-emphasis-color: red;
    width: 99%;
    border-radius: 30px;
    text-align: center;
    font-size: 80px;
}

h1:hover
{
    transform: scale(1.1);
    text-transform: uppercase;
}

.divmgmt
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-evenly;
}

.titlediv
{
    text-align: center;
    width: 40%;
    background-color: black;
    font-style: italic;
    padding: 20px;
    border-radius: 20%;   
}

.titlediv:hover
{
    text-decoration: underline;
    transform: scale(1.1);
}

img
{
    width: 50%;
    height: auto;
    border-radius: 200px;
}

p
{
    text-align: center;
    text-transform: capitalize;
    text-decoration: dotted;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}