@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0; 
}

nav
{

    display: flex;
    color: white;
    background-color: red;
    padding: .5em;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    position: sticky;
    top: 0px;
    z-index: 2;
}


nav a
{
    text-transform: none;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

.top
{
    color:white;
    background-color: black;
    padding: 0px;
    margin: 0px; 
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.top img
{
    width: 320px;
}

.top h1
{
    font-size: 60px;
    text-align: left;
    padding: 1em 1em;
}

h1 span 
{
    text-transform: uppercase;
    display: block;
    font-size: 45px;
    position: relative;
    z-index: 1;
}

h1 span::before
{
    content: ' ';
    position: absolute;
    width: 4em;
    background-color: white;
    height: .4em;
    bottom: 0;
    z-index: -1;
    margin-left: -.5em;
}

.trainer
{
    color: red;
    position: relative;
}

.about-container
{
    background-color: red;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    padding: 2em;
}

h3
{
    display: block;
    padding: 2em 0 0 0;
    text-transform: uppercase;
    font-size: 30px;
    margin-top: 0;
    position: relative;
    z-index: 1;
}

h3::before
{
    content: ' ';
    position: absolute;
    width: 4em;
    background-color: red;
    height: .6em;
    bottom: 0;
    z-index: -1;
    margin-left: -.5em;
}

.AlbertBox
{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
    border-radius: 20px;
    border-color: white;
    background-color: white;
    
}

.AlbertBox p
{
    width: 80%;
    padding: 0 0 2em 0;
}

.AlbertBox em
{
    font-style: normal;
    color: red;
}



.plans
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

.plans h3
{
    font-size: 30px;
}

.plans h2
{
    padding: 0 0 0 0;
}

.review-title
{
    color: Red;
    background-color: black;
    border: 0;
    padding: 2em 0 0 0;
    text-align: center; 
    font-size: 30px;
    font-weight: bold;
}

.review-title em
{
    font-style: normal;
    color: white;
}
.reviews
{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-evenly;
    padding: 2em;
}

.manoj
{
    background-color: red;
    color: whitesmoke;
    width: 30%;
    border-radius: 30px;
    text-align: left;
    padding: .9em;
}
.dipjung
{
    background-color: red;
    color: whitesmoke;
    width: 30%;
    border-radius: 30px;
    text-align: left;
    padding: .9em;
}
.nishant
{
    background-color: red;
    color: whitesmoke;
    width: 30%;
    border-radius: 30px;
    text-align: left;
    padding: .9em;
}

.certification
{
    text-align: center;
}

.certification img
{
    width: 90%;
}

.GoogleForm
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    padding: 2em; 
}

.GoogleForm a
{
    text-decoration: none;
    color: white;
}
.GoogleForm h2
{
    font-size: 30px;
    text-align: center;
}
.GoogleForm em
{
    font-style: normal;
    color: red;
}

.form-button
{
    font-style: normal;
    text-transform: none;
    text-decoration: none;
    color: white;
    text-align: center;
    color: white;
    width: 25%;
    background-color: red;
    border-radius: 25px;
}

.contacts
{
    text-align: center;
}

.socials
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}

.socials img
{
    width: 40px;
    bottom: .5em;
}

.socials a
{
    width: auto;
    font-size: 100%;
    text-align: center;
    text-decoration: none;
    color: white;
}

.logos
{
    background-color: black;
    color: white;
    padding: 2em; 
}

.logos h3
{
    font-size: 30px;
    text-align: center;
    padding: 0 4em 0 4em;
}

footer
{
    padding: 1em;
    text-align: center;
}

/*
* When the size of the screen changes, change the content as follows
*/
@media (max-width: 1127px)
{
    .top {
            color: white;
            background-color: black;
            padding: 0px;
            margin: 0px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            align-content: center;
        }

    .top img
    {
        width: 100%;
    }

    .reviews {
            background-color: black;
            color: white;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            align-content: space-around;
        }
    .manoj
    {
        background-color: red;
        color: whitesmoke;
        width: 80%;
        border-radius: 50px;
        text-align: left;
        padding: 2em;
        border: 10px solid;
        border-color: black;
    }
    .dipjung
    {
        background-color: red;
        color: whitesmoke;
        width: 80%;
        border-radius: 50px;
        text-align: left;
        padding: 2em;
        border: 10px solid;
        border-color: black;
    }
    .nishant
    {
        background-color: red;
        color: whitesmoke;
        width: 80%;
        border-radius: 50px;
        text-align: left;
        padding: 2em;
        border: 10px solid;
        border-color: black; 
    }
}